@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Topaz Signature Pad LCD 1x5</h1>
	<p>
		<canvas id="displaySignature"></canvas>
	</p>
	<p>
		<button id="sigStart">Start Capture</button>
		<button id="sigLocalStart">Get TabletState</button>
		<button id="sigStateOn">Set TabletState ON</button>
	</p>
	<p>
		<label id="stateLabel" for="stateText">State</label>
		<input type="text" id="stateText" />
	</p>
</div>

<script>
	document.getElementById('sigStart').addEventListener('click', () => {
		// start capture
		const sig = new sigPlusNet();

		sig.setTabletState(1);
	});

	function postData(url, data, callback) {
		const xhr = new XMLHttpRequest();
		if (xhr) {
			xhr.open('GET', url, true);
			xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

			xhr.withCredentials = true;
			xhr.onreadystatechange = callback;
		//	xhr.onreadystatechange = function (e) {
		//		if (xhr.readyState === 2) {
		//			console.log(xhr.responseText);
		//		}
		//	};

			//	xhr.setRequestHeader('Content-Type', 'application/json')
			xhr.send(data);
		}
	}

	function getData(url, callback) {
		const xhr = new XMLHttpRequest();
		if (xhr) {
			xhr.open('GET', url, true);
			xhr.withCredentials = true;
			xhr.onload = callback;
			xhr.send();
		}
	}

	function getTabletStateHandler(e) {
		console.log(this.responseText);
		document.getElementById("stateText").value = this.responseText;
	}

	document.getElementById('sigLocalStart').addEventListener('click', () => {
		// start capture
		const xhr = new XMLHttpRequest();
		const url = 'https://localhost:44339/api/SigPlus/GetTabletState';

		GetData(url, getTabletStateHandler);
	});

	document.getElementById('sigStateOn').addEventListener('click', () => {

	});
</script>